.popover-mask{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: #000;
  opacity: .5;
}
.popover-content{
  z-index: 100;
  background: #FFF;
  position: fixed;
  left: 0;
  right: 0;
  // top: 0;
  bottom: 0;
  // background: #000;
  // opacity: .5;
}